body{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
#help-img{
	margin: 0 auto;
	text-align: center;
	height: 680px;
	overflow: auto;
	margin: 30px;
}
img{
	width: 100%;
}

::-webkit-scrollbar {
	width:8px;
	height:8px;	
}
::-webkit-scrollbar-button {
	display:none;
}
::-webkit-scrollbar-track {
background: url("../images/line.png") center ;
	}
::-webkit-scrollbar-thumb {
	background: url("../images/13.png") center no-repeat;
 	padding-left: 2px;
	border-radius:8px;
	border:solid 2px #A6A6A6;
	background-color:#2b53;
	
}
/*::-webkit-scrollbar-thumb:hover {
	background-color:rgba(229,229,229,.4);
}
::-webkit-scrollbar-thumb:active {
	background-color:rgba(229,229,229,1);
	-webkit-box-shadow:0 0 1px 0 rgba(0,0,0,.15) inset;
	box-shadow:0 0 1px 0 rgba(0,0,0,.15) inset;
}
*/
